body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none
}

.bcg {
    background: rgba(255, 192, 203, .7) center;
    position: fixed;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    z-index: -1;
}

.head {
    width: 100vw;
    display: flex;
}

.welcome {
    font-size: 2.5rem;
    margin: 0 auto;
    margin-top: 20px;
    color: aqua;
    background: #fff;
}

.des {
    display: flex;
    width: 100vw;
    margin-top: 2vh;
}

.description {
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.description span {
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.5rem;
}

.superlink {
    margin-top: 3rem;
    padding-left: 20vw;
    padding-right: 10vw;
    width: 80vw;
    height: auto;
    display: flex;
}

.superlink .link {
    width: 25%;
    display: flex;
    justify-items: center;
    margin: 0 auto;
}

.superlink .link a img {
    width: 6vw;
    height: 6vh;
}